<?xml version="1.0"?>
<robot name="station_ur_orbbec_robotiq2f85" xmlns:xacro="http://wiki.ros.org/xacro">
  
    <!-- Import the macro -->
    <xacro:include filename="$(find robot_station_description)/urdf/station_ur_orbbec_robotiq2f85_macro.urdf.xacro"/>

    <!-- Instantiate the complete station -->
    <xacro:station_ur_orbbec_robotiq 
      ur_type="ur10e"
      tf_prefix=""
      parent="world"
      finger_type="default"
      mount_orbbec="true"
      include_station="true"
      include_messzelle="true"
      origin_xyz="0 0 0"
      origin_rpy="0 0 ${pi/2}"/>

</robot>
