<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="robot_station_800x440" params="prefix parent child">

    <link name="${prefix}robot_station_800x440_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.8 0.44 0.848"/>
          </geometry>
          <material name="grey"/>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.8 0.44 0.848"/>
          </geometry>
        </collision>
        <!-- <inertial>
          <mass value="2" />
          <origin xyz="0 0 0" />
          <inertia ixx="8.432e-3" ixy="3.804169e-6" ixz="7.00981e-7" iyy="8.460e-3" iyz="-8.41529e-7" izz="1.606e-2" />
        </inertial> -->
    </link>


    <joint name="${prefix}station_800x440_base_joint" type="fixed">
      <!-- The parent link must be read from the robot model it is attached to. -->
      <parent link="${parent}"/>
      <child link="${prefix}robot_station_800x440_link"/>
      <origin xyz="1.445 2.712 0.424" rpy="0 0 0"/>
    </joint>  

    <link name="${child}"/>

    <joint name="${prefix}table_mount_joint" type="fixed">
      <parent link="${prefix}robot_station_800x440_link"/>
      <child link="${child}"/>
      <origin xyz="0 0 0.424" rpy="0 0 0"/>
    </joint>
    

  </xacro:macro>
</robot>
